* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   text-decoration: none;
   list-style-type: none;
}

body {
   font-family: 'Public Sans';
   font-style: normal;
   background-image: url("../img/bacgraund.png");
   background-repeat: no-repeat;
   background-position: top  right -150px;
   background-size: 750px 680px;
   background-color: #edf3f8;
}