.business__section {
   margin-bottom: 96px;
}

.personal {
   margin-left: 101px;  
   font-weight: 700;
   font-size: 18px;
   color: #36536B;
}

.personal__text {
   width: 350px;
   font-weight: 400;
   font-size: 15px;
   text-align: center;
   color: #6C8294;
}

.business__list {
   position: relative;
   display: flex;
   align-items: center;
}

.business__list-item {
   position: relative;
}

.business__list-item::before {
   content: '';
   position: absolute;
   bottom: 107px;
   left: 137px;
   background-image: url("../../img/money.svg");
   background-repeat: no-repeat;
   width: 106px;
   height: 106px;
}

.static__list-item {
   position: relative;
}

.static__list-item::before {
   content: '';
   position: absolute;
   bottom: 107px;
   left: 137px;
   background-image: url("../../img/static-list.svg");
   background-repeat: no-repeat;
   width: 106px;
   height: 106px;
}

.card__list-item {
   position: relative;
}

.card__list-item::before {
   content: '';
   position: absolute;
   bottom: 107px;
   left: 137px;
   background-image: url("../../img/card.svg");
   background-repeat: no-repeat;
   width: 106px;
   height: 106px;
}

@media only screen and (max-width: 1147px) {
   .business__list {
      height: 700px;
      flex-direction: column;
      justify-content: space-between;
   }
}